
.light-theme {
    --primary : #8d4f00;
    --onPrimary : #ffffff;
    --primaryContainer : #ffdcc0;
    --onPrimaryContainer : #2e1600;
    --primaryFixed : #ffdcc0;
    --onPrimaryFixed : #2e1600;
    --primaryFixedDim : #ffb877;
    --onPrimaryFixedVariant : #6c3a00;
    --secondary : #006e2e;
    --onSecondary : #ffffff;
    --secondaryContainer : #81fb99;
    --onSecondaryContainer : #002109;
    --secondaryFixed : #81fb99;
    --onSecondaryFixed : #002109;
    --secondaryFixedDim : #65de80;
    --onSecondaryFixedVariant : #005321;
    --tertiary : #5a6238;
    --onTertiary : #ffffff;
    --tertiaryContainer : #dee8b2;
    --onTertiaryContainer : #181e00;
    --tertiaryFixed : #dee8b2;
    --onTertiaryFixed : #181e00;
    --tertiaryFixedDim : #c2cb98;
    --onTertiaryFixedVariant : #434a23;
    --error : #ba1a1a;
    --errorContainer : #ffdad6;
    --onError : #ffffff;
    --onErrorContainer : #410002;
    --background : #fffbff;
    --onBackground : #201b17;
    --outline : #837469;
    --inverseOnSurface : #faefe8;
    --inverseSurface : #352f2b;
    --inversePrimary : #ffb877;
    --shadow : #000000;
    --surfaceTint : #8d4f00;
    --outlineVariant : #d6c3b6;
    --scrim : #000000;
    --surface : #fff8f5;
    --onSurface : #201b17;
    --surfaceVariant : #f2dfd1;
    --onSurfaceVariant : #51443a;
    --surfaceContainerHighest : #ece0da;
    --surfaceContainerHigh : #f1e6df;
    --surfaceContainer : #f7ece5;
    --surfaceContainerLow : #fdf1ea;
    --surfaceContainerLowest : #ffffff;
    --surfaceDim : #e3d8d1;
    --surfaceBright : #fff8f5;
    }
    .dark-theme {
    --primary : #ffb877;
    --onPrimary : #4b2700;
    --primaryContainer : #6c3a00;
    --onPrimaryContainer : #ffdcc0;
    --primaryFixed : #ffdcc0;
    --onPrimaryFixed : #2e1600;
    --primaryFixedDim : #ffb877;
    --onPrimaryFixedVariant : #6c3a00;
    --secondary : #65de80;
    --onSecondary : #003915;
    --secondaryContainer : #005321;
    --onSecondaryContainer : #81fb99;
    --secondaryFixed : #81fb99;
    --onSecondaryFixed : #002109;
    --secondaryFixedDim : #65de80;
    --onSecondaryFixedVariant : #005321;
    --tertiary : #c2cb98;
    --onTertiary : #2c340e;
    --tertiaryContainer : #434a23;
    --onTertiaryContainer : #dee8b2;
    --tertiaryFixed : #dee8b2;
    --onTertiaryFixed : #181e00;
    --tertiaryFixedDim : #c2cb98;
    --onTertiaryFixedVariant : #434a23;
    --error : #ffb4ab;
    --errorContainer : #93000a;
    --onError : #690005;
    --onErrorContainer : #ffdad6;
    --background : #201b17;
    --onBackground : #ece0da;
    --outline : #9e8e82;
    --inverseOnSurface : #201b17;
    --inverseSurface : #ece0da;
    --inversePrimary : #8d4f00;
    --shadow : #000000;
    --surfaceTint : #ffb877;
    --outlineVariant : #51443a;
    --scrim : #000000;
    --surface : #17120f;
    --onSurface : #cfc4be;
    --surfaceVariant : #51443a;
    --onSurfaceVariant : #d6c3b6;
    --surfaceContainerHighest : #3a342f;
    --surfaceContainerHigh : #2f2925;
    --surfaceContainer : #241f1a;
    --surfaceContainerLow : #201b17;
    --surfaceContainerLowest : #120d0a;
    --surfaceDim : #17120f;
    --surfaceBright : #3e3833;
    }